/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@300;400;600;700&display=swap');

/* CSS Reset */
* {
    font-family: "Poppings", san-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* to remove default focus style */
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /* to apply transition time for all prop changes */
    transition: all .2s;
}

/* Variables declaration */
:root {
    --ORANGE: #ffa52c;
    --TEXT-COLOR-1: #326273;
    --TEXT-COLOR-2: #5C9EAD;
    --BG-COLOR-1: #FFF;
    --BG-COLOR-2: #EEE;
    --BOX-SHADOW: 0 0.5rem 1.5rem #267896;
}

/* Global styles */
html {
    /* 100% -> 16px; 62.5% -> 10px
    Now, 1rem = 10px */
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

/* Scrollbar styles */
html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--ORANGE);
}


body {
    background-color: var(--BG-COLOR-2);
    height: 200vh;
}

/* Dark mode */
body.active {
    --TEXT-COLOR-1: #fff;
    --TEXT-COLOR-2: #eee;
    --BG-COLOR-1: #333;
    --BG-COLOR-2: #222;
    --BOX-SHADOW: 0 0.5rem 1.5rem aqua;
}

section {
    padding: 2rem 7%;
}

/* Utility styles */
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    font-weight: bolder;
    color: #fff;
    background-color: var(--ORANGE);
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: 0.2rem;

}

.heading {
    text-align: center;
    margin-top: 7.5rem;
    padding-bottom: 5rem;
    color: var(--TEXT-COLOR-1);
    font-size: 4rem;
}

.heading span {
    /* position: relative;
    z-index: 0; */
    text-decoration: underline;
    text-decoration-color: var(--ORANGE);
}

/* Generel styles */
.header {
    position: fixed;
    top: 0;
    /* left: 0;
    right: 0; */
    width: 100%;
    background-color: var(--BG-COLOR-1);
    box-shadow: var(--BOX-SHADOW);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

/* logo name */
.header .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--TEXT-COLOR-2);
}

/* logo icon */
.header .logo i {
    color: var(--ORANGE);
}

/* form with search bar */
.header .search-form {
    background-color: var(--BG-COLOR-2);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width: 50rem;
}

/* input field (search bar) */
.header .search-form input {
    height: 100%;
    width: 100%;
    /* to remove default bg color of input field
    none works only with background */
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--TEXT-COLOR-1);
    padding: 1rem;
}

/* search bar's label (icon) */
.header .search-form label {
    font-size: 2rem;
    margin-right: 1.5rem; 
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--ORANGE);
}

/* each icons in header */
.header .icons div {
    /* icon's container size  */
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    /* actual icons size */
    font-size: 2rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    background-color: var(--BG-COLOR-2);
    color: var(--TEXT-COLOR-1);
    cursor: pointer;
    /* to align icons inside div center */
    text-align: center;
}

.header .icons div:hover {
    color: #fff;
    background-color: var(--ORANGE);
}

/* not displaying the search button */
#search-btn {
    display: none;
}

.header .navbar {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: var(--BG-COLOR-1);
    border-radius: 0.5rem;
    box-shadow: var(--BOX-SHADOW);
    width: 25rem;
    /* to hide the navbar */
    transform: scale(0);
    /* to move the transformed element (position)
    It will present at top right  */
    transform-origin: top right;
}

/* when it's active */
.header .navbar.active, .header .login-form.active {
    transform: scale(1);
    /* transform-origin: none; */
}

.header .navbar a {
    display: block;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--TEXT-COLOR-1);
}

.header .navbar a:hover {
    color: var(--ORANGE);
    background-color: var(--BG-COLOR-2);
    /* to make it go inside smoothly */
    padding-left: 2rem;
}

.header .login-form {
    /* same styles as nav bar */
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: var(--BG-COLOR-1);
    border-radius: 0.5rem;
    box-shadow: var(--BOX-SHADOW);
    width: 35rem;
    padding: 2rem;
    /* to hide this */
    transform: scale(0);
    /* to move the transformed element (position)
    It will present at top right  */
    transform-origin: top right;
}

/* login input containers */
.header .login-form .inputBox {
    margin-bottom: 1rem;
}

/* login field names */
.header .login-form .inputBox span {
    font-size: 1.7rem;
    color: var(--TEXT-COLOR-2);
}

/* login input fields */
.header .login-form .inputBox input {
    font-size: 1.7rem;
    color: var(--TEXT-COLOR-1);
    border-radius: 0.5rem;
    /* adding padding makes it as block element */
    padding: 1rem;
    background-color: var(--BG-COLOR-2);
    width: 100%;
    /* to remove global text prop for input field */
    text-transform: none;
    margin: 0.5rem 0;
}

/* remeber container */
.header .login-form .remember {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

/* remember's label */
.header .login-form .remember label {
    color: var(--TEXT-COLOR-2);
    font-size: 1.5rem;
    cursor: pointer;
}

/* button in login */
.header .login-form .btn {
    width: 100%;
}

/* Home section styles */
.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 7rem;
    min-height: 100vh;
}

/* image container */
.home .image {
    margin-top: 4rem;
    /* flex: flex-grow flex-shrink flex-basis; */
    flex: 1 1 45rem;
}

.home .image img {
    width: 100%
}

.home .content {
    flex: 1 1 45rem;
    /* margin-top: -10rem; */
}

.home .content h3 {
    text-transform: none;
    color: var(--TEXT-COLOR-1);
    font-size: 4rem;
    line-height: 1.7;
    padding: 1rem 0;
}

.home .content p {
    color: var(--TEXT-COLOR-2);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

/* form styles */

/* outer container */
.form-container form {
    background-color: var(--BG-COLOR-1);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

/* inner containers */
.form-container form .inputBox {
    flex: 1 1 23rem;
}

/* input label */
.form-container form .inputBox span {
    font-size: 1.7rem;
    color: var(--TEXT-COLOR-2)
}

/* input field */
.form-container form .inputBox input {
    font-size: 1.5rem;
    color: var(--TEXT-COLOR-1);
    background-color: var(--BG-COLOR-2);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .btn {
    flex: 1 1 23rem;
}

.form-container form input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    width: 1.5rem;
    padding: 2px;
}
/* for changing calendar icon color in dark mode*/

body.active input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    /* -webkit-appearance: none; */
    background-color: rgb(192, 186, 186);
    /* margin-top: 10px; */
}

/* Packages styles */

/* outer container */
.packages .box-container {
    display: grid;
    /* responsive layout */
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

/* inner cards/boxes (grid items) -> resize */
.packages .box-container .box {
    background-color: var(--BG-COLOR-1);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

/*  image container */
.packages .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    position: relative;    
}

/* image */
.packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    /* maintain aspect radio (width:height), therefore clips image */
    object-fit: cover;
    border-radius: 0.5rem;
}

/* image title (place name) */
.packages .box-container .box .image h3 {
    /* related to .image  */
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: 2rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    font-weight: lighter;
    padding: 0.5rem 1.5rem;
}

/* location icon */
.packages .box-container .box .image h3 i {
    color: var(--ORANGE);
}

.packages .box-container .box .content {
    padding: 1.5rem;
    padding-top: 0;
}

/* new price */
.packages .box-container .box .content .price {
    font-weight: 600;
    color: var(--TEXT-COLOR-1);
    font-size: 2.5rem;
}

/* old price */
.packages .box-container .box .content .price span {
    font-weight: 600;
    color: var(--TEXT-COLOR-2);
    font-size: 1.5rem;
    text-decoration: line-through;
}

/* place description */
.packages .box-container .box .content p {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: var(--TEXT-COLOR-2);
    line-height: 1.7;
}

/* Services styles */
/* grid container */
.services .box-container {
    display: grid;
    /* responsive layout */
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    background-color: var(--BG-COLOR-1);
    border-radius: 0.5rem;
    box-shadow: var(--BOX-SHADOW);
    padding: 2rem;
    /* relative to span (serial no.)  */
    position: relative;
}

.services .box-container .box span {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    color: var(--TEXT-COLOR-2);
    font-weight: bolder;
    font-size: 5rem;
}

/* icons */
.services .box-container .box i {
    /*  */
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    background: var(--ORANGE);
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

/* service heading */
.services .box-container .box h3 {
    color: var(--TEXT-COLOR-1);
    font-size: 2.3rem;
    padding: 0.7rem 0;
}

/* service description */
.services .box-container .box p {
    color: var(--TEXT-COLOR-2);
    font-size: 1.5rem;
    line-height: 1.7;
}

/* Pricing styles */
/* grid container */
.pricing .box-container {
    display: grid;
    /* responsive layout */
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.pricing .box-container .box {
    background-color: var(--BG-COLOR-1);
    border-radius: 0.5rem;
    box-shadow: var(--BOX-SHADOW);
    padding: 2rem;
    text-align: center;
}

.pricing .box-container .box h3 {
    padding: 1rem;
    background-color: var(--BG-COLOR-2);
    border-radius: 0.5rem;
    font-size: 2.5rem;
    color: var(--TEXT-COLOR-1);
    text-align: center;
}


.pricing .box-container .box .price {
    padding-top: 2rem;
}

/* dolor symbol */
.pricing .box-container .box .price span {
    font-size: 2rem;
    color: var(--TEXT-COLOR-2);
}

.pricing .box-container .box .price .amount {
    font-size: 5rem;
    color: var(--TEXT-COLOR-1);
    font-weight: bolder;
}

.pricing .box-container .box ul {
    padding: 0.5rem 0;
    list-style-type: none;
}

.pricing .box-container .box ul li {
    color: var(--TEXT-COLOR-2);
    padding: 1rem 0;
    font-size: 1.7rem;
    line-height: 1.5;
    /* text-align: center; */
}

/* Review styles */

.review .review-slider {
    --BOX-SHADOW: 0 0.5rem 1.5rem #FF69B4;
    box-shadow: var(--BOX-SHADOW);
}

/* each slide */
.review .review-slider .slide {
    background-color: var(--BG-COLOR-1);
    border-radius: 0.8rem;
    text-align: center;
    padding: 3rem;
}

/* client image */
.review .review-slider .slide img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    /* maintain aspect ratio, clip img */
    object-fit: cover;
}

/* client name */
.review .review-slider .slide h3 {
    font-size: 2.5rem;
    /* white in dark mode */
    color: var(--TEXT-COLOR-1);
    line-height: 1.7;
    padding: 1.2rem 0;
}

/* client review description */
.review .review-slider .slide p {
    font-size: 1.5rem;
    color: var(--TEXT-COLOR-2);
    line-height: 1.5;
    padding: 1rem 0;
}

/* client star icons */
.review .review-slider .slide .stars i {
    font-size: 2rem;
    color: var(--ORANGE);
}

/* Contact us form styles  */

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    /* main it will center the button */
    text-align: center;
}

/* input container (2 nos) */
.contact form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* input field, textarea field */
.contact form textarea,
.contact form .inputBox input {
    --BOX-SHADOW: 0 0.3rem 1rem aqua;
    text-transform: none;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--TEXT-COLOR-1); 
    margin: 0.9rem 0;
    background-color: var(--BG-COLOR-1);
    box-shadow: var(--BOX-SHADOW);
}

.contact form textarea {
    height: 20rem;
    /* to turn off resizing property */
    resize: none;
}

/* only for input field */
.contact form .inputBox input {
    width: 49%;
}

/* to remove arrows in number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Blog styles */
.blogs .box-container {
    display: grid;
    /* responsive layout */
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

/* each box or card */
.blogs .box-container .box {
    --BOX-SHADOW: 0 0.5rem 1.5rem #FF69B4;
    background-color: var(--BG-COLOR-1);
    border-radius: 0.5rem;
    box-shadow: var(--BOX-SHADOW);
    padding: 2rem;
}

/* blog image container */
.blogs .box-container .box .image {
    height: 20rem;
    width: 100%;
    /* to hide the scaled imaged while hovering */
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--BG-COLOR-2);
}

/* actual blog image */
.blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    border-radius: 10rem;
}

/* during hover */
.blogs .box-container .box .image img:hover {
    transform: scale(1.2);
}

/* content container */
.blogs .box-container .box .content {
    padding: 1rem;
}

.blogs .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--TEXT-COLOR-1);
    line-height: 1.5;
}

/* blog icons container */
.blogs .box-container .box .content .icons {
    display: flex;
    /* to make contant appear in 2 corners */
    justify-content: space-between;
    border-top: 0.1rem solid var(--TEXT-COLOR-2);
    margin-top: 2rem;
    padding-top: 2rem;
}

/* icons + note */
.blogs .box-container .box .content .icons a {
    font-size: 1.5rem;
    color: var(--TEXT-COLOR-2);
}

.blogs .box-container .box .content .icons a:hover {
    color: var(--ORANGE);
}

/* icons only  */
.blogs .box-container .box .content .icons i {
    color: var(--ORANGE);
}

/* Footer styles */
.footer {
    margin-top: 8rem;
    background-color: var(--BG-COLOR-1);
}

.footer .box-container {
    display: grid;
    /* responsive layout */
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    /* to make it appear center */
    margin-left: 8rem;
}

/* headings */
.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--TEXT-COLOR-1);
    padding: 1rem 0;
}

/* all links in footer */
.footer .box-container .box a {
    /* inline to block */
    display: block;
    font-size: 1.5rem;
    color: var(--TEXT-COLOR-2);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    /* to give space after icon */
    padding-right: 0.5rem;
    color: var(--ORANGE);
}

.footer .box-container .box a:hover i {
    /* push the text right */
    padding-right: 2rem;
} 

.footer .credit {
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid var(--TEXT-COLOR-2);
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color: var(--TEXT-COLOR-2);
}

#creator {
    color: var(--ORANGE);
}

body.active #creator {
    color: aqua;
}






/* Media queries */

/* For screens like tablet */
@media screen and (max-width: 991px) {
    
    /* reducing font-size */
    html {
        /* 55% of parent's font-size (55% of 1rem (16px) */
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 1.5rem 2rem;
    }

    .home .content {
        text-align: center;
    }
    
    .home .content p {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .header .navbar {
        right: 2rem;
    }
    
    .header .login-form {
        right: 2rem;
    }

    /* making the search btn appear for toggling search form */
    #search-btn {
        display: inline-block;
    }
    /* make the seach form appear below the header */
    .header .search-form {
        /* header is the positioned anscestor */
        position: absolute;
        top: 115%;
        right: 2.5rem;
        width: 90%;
        border-radius: 0.5rem;
        --BOX-SHADOW: 0 0.5rem 1.5rem var(--ORANGE);
        box-shadow: var(--BOX-SHADOW);
        background-color: var(--BG-COLOR-1);
        /* display: none; */
        transform: scale(0);
        /* shrinks or minimized in top right of the box */
        transform-origin: top;
        transition: transform 0.5s;
    }

    /* for dark mode */
    body.active .header .search-form {
        --BOX-SHADOW: 0 0.8rem 2.5rem #e10361;
    }

    /* enabling search form after clicking btn */
    .header .search-form.active {
        /* initial value is flex */
        /* display: flex; */
        transform: scale(1);
    }

}

/* For screens like phone */
@media screen and (max-width: 450px) {

    html {
        font-size: 50%;
    }

    /* to adjust the visible area */
    .home .image {
        margin-top: 0;
    }

    .home .content {
        margin-top: -10rem;
    }

    .contact form .inputBox input {
        width: 100%;
    }

    .footer .box-container {
        display: flex;
        margin-left: -1.5rem;
        justify-content: space-evenly;

    }
    



    .footer .box h3 {
        text-align: center;
    }
    /* no need to display quick links in footer  */
    .footer .box:nth-child(2){
        display: none;
    }

    .footer .box .email {
        text-transform: none;
    }
}